@tailwind base;

@tailwind components;
/* -------------Layout Start------------- */
body {
  @apply bg-gray-200 font-base antialiased p-0;
}

.w-right {
  height: calc(100%);
}

/* -------------Table Start------------ */
.w-card-table {
  height: calc(100vh - 7rem);
}
.med-table {
  @apply w-full border-collapse;
}

.med-table thead tr th {
  @apply text-left sticky top-0 bg-white h-16 shadow-table z-40;
}
.med-table th,
.med-table td {
  @apply px-4 py-4;
}
/* .med-table tbody tr {
  @apply border-b border-gray-200;
} */
.med-table tbody tr:nth-of-type(even) {
  @apply bg-gray-100;
}
/* .med-table tbody tr:last-of-type {
  @apply rounded-b-lg border-none;
} */
/* .med-table tbody tr:hover {
  @apply bg-gray-100 border-med-500 cursor-pointer;
} */
/* -------------Checkbox Start------------ */

.med-checkbox-type {
  display: none;
}

.med-checkbox-type:checked ~ .med-checkbox .med-checkbox-span {
  @apply bg-green-500;
}
.med-checkbox-type:checked ~ .med-checkbox {
  @apply bg-white border-green-500 shadow-base;
}
.med-checkbox-type:checked ~ .med-checkbox span {
  @apply text-gray-900;
}
/* -------------Radio Start------------ */

.med-radio-type {
  display: none;
}

.med-radio-type:checked ~ .med-radio .med-radio-span {
  @apply bg-green-500;
}
.med-radio-type:checked ~ .med-radio {
  @apply bg-white border-green-500 shadow-base;
}

.med-radio-type:checked ~ .med-radio span {
  @apply text-gray-900;
}
/* -------------Radio Start Color------------ */

.med-radio-color {
  display: none;
}

.med-radio-color:checked ~ .med-radio-colors {
  @apply opacity-100 text-white;
}

.med__control {
  @apply border-gray-300 min-h-full max-h-full rounded-lg !important;
}

.med__control--is-focused {
  @apply border-green-500 shadow-none !important;
}
.med__value-container {
  @apply px-4 !important;
}
.med__placeholder {
  @apply text-gray-500 !important;
}
/* Button Style-------------- */

.btn-style-1 {
  @apply px-8 py-2 rounded bg-med-500 text-white font-bold shadow-base;
}

/* Webkit Scroll------------------- */

::-webkit-scrollbar {
  @apply w-2 h-2;
}
::-webkit-scrollbar-track {
  @apply bg-gray-300;
}
::-webkit-scrollbar-thumb {
  @apply bg-med-500;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-med-700;
}

.med-menu__menu {
  @apply z-30 !important;
}

/* swal ----------------------------- */
.swal-container {
  background-color: rgba(26, 32, 44, 0.75) !important;
}

/* Custommm ----------------------------- */
.top-16 {
  top: 4rem;
}

@tailwind utilities;
